.btn-github .icon {opacity: 0.6;background: url("../images/github.png") 0 0 no-repeat;}
.btn-htb .icon {opacity: 0.6;background: url("../images/htb.png") 0 0 no-repeat;}
.btn-thm .icon {opacity: 0.6;background: url("../images/thm.png") 0 0 no-repeat;}
.btn-root-page .icon {opacity: 0.6;background: url("../images/root.png") 0 0 no-repeat;}
#tags {font-size: 13px;}